:root {
    --primary-color: #2D2D2D;
    --secondary-color: #f3f3f3;
    font-family: 'Epilogue', sans-serif;

}


/* header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 42px;
}

.logo {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    color: var(--primary-color);
    letter-spacing: 0;
    vertical-align: middle;
}

ul {
    display: flex;
    gap: 24px;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: right;
}
ul li a {
text-decoration: none;
color: var(--primary-color);
}


/* Hero Section */
.hero {
display:flex;
align-items: center;
justify-content: center;
padding: 42px 24px;
gap: 64px;
}

.hero-content {
    display:flex;
    gap:68px;
}

.hero-text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;

}



.hero-text {
    display: flex;
    flex-direction: column;
    gap: 48px;
    max-width: 620px;
    min-width: 320px;
}

.hero-text-wrapper p {
    width: 400px;
    font-size: 17px;
    line-height: 27px;
    margin: 0;
}

.hero-subtitle {
    display: flex;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0%;
    color: var(--primary-color);
}

.hero-text-wrapper h1 {
    display: flex;
    font-size: 68px;
    font-weight: 600;
    line-height: 100%;
    color: var(--primary-color);
    margin:0;

}

.hero-button button{
    padding: 24px 64px;
    font-size: 20px;
    color: #ffffff;
    background-color: var(--primary-color);
    border: none;
    cursor: pointer;
    max-width: 211px;
    max-height: 78px;
}

/* Hero Image */
.hero-image {
    width: 480px;
    height: auto;
    max-width: 480px;
    min-width: 320px;
    position: relative;

}

/* container styles */
.logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 42px 68px;
}
.symbol-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 42px 24px;
}
.symbol-card {
    padding: 64px 42px;
    align-items: center;
    display: flex; 
    flex-direction: column;
    gap: 42px;
}

.symbol-text {
    gap: 12px;
    display:flex;
    flex-direction: column;
}

.symbol-text h3 {
    text-align: center;
    font-size: 27px;
    font-weight: 600;
    line-height: 42px;
    color: var(--primary-color);
    align-self: stretch;
    margin:0;
}
.symbol-text p {
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    color: var(--primary-color);
    margin: 0;
}

/* Latest Work Section */

.gallery-header h2 {
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
    color: var(--primary-color);
    margin:0;
}
.latest-work-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding: 42px 24px;
    justify-content: center;
}

.card-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card-text h4 {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color: var(--primary-color);
    margin:0;
}

.card-text p {
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    color: var(--primary-color);
    margin:0;
}

.latest-work-card {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

/* testimonial section */

.testimonial-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding: 42px 24px;
    justify-content: center;
}


.testimonial-header h2 {
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
    color: var(--primary-color);
    margin:0;
}

.testimonial-card {
    background-color: var(--secondary-color);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 68px;
    padding:42px;
    min-width: 320px;
}



.testimonial-text {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    color: var(--primary-color);
}

.testimonial-footer {
    display: flex;
    align-items: start;
    gap: 16px;
}


.testimonial-author {
    display: flex;
    align-items: center;
    gap: 12px;
}
.testimonial-footer img {
    width: 50px;
    height: 50px;

}


.testimonial-stars {
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.testimonial-stars img {
    width: 20px;
    height: 20px;
}
.testimonial-info {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.testimonial-info h4 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    margin: 0;
}
.customer-info span {
    font-size: 17px;
    line-height: 27px;
    font-weight: 400;
    color: var(--primary-color);
}

/* footer section */

.contact{
    padding: 42px 24px 86px;
    display: flex;
    flex-direction: column;
    gap:24px;
    align-items: center;
    justify-content: center;
}


.contact h2 {
    display: flex;
    justify-content: left;
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
    color: var(--primary-color);
    margin:0;
}

.contact-content {
    display: flex;
    flex-direction: row;
    gap: 142px;
    justify-content: center;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    gap: 42px;
}

.contact-info p {
    font-size: 17px;
    line-height: 27px;
    color: var(--primary-color-color);
    font-weight: 400;
    margin: 0;
    gap:42px;
}

.contact-icons {
    display: flex;
    gap: 24px;
    align-items: center;
}

.contact-icons a img {
    width: 36px;
    height: 36px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 520px;
    min-width: 320px;

}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.inputs input {
    background-color: var(--secondary-color);
    min-width: 320px;
    max-width: 520px;
    padding:16px 24px;
    border: none;
    gap:10px;
}

.inputs input::placeholder {
    color: var(--primary-color);
    font-size: 17px;
    line-height: 27px;
    font-weight: 400;
    font-family: epilogue, sans-serif;
}

.contact-form button {
    padding: 24px 64px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    gap:10px;
    color: #ffffff;
    background-color: var(--primary-color);
    border: none;
    cursor: pointer;
    align-self: flex-start;
    font-family: epilogue, sans-serif;
   
}